
.container{
    position: relative;
}

.vLine{
    border-left: 2px solid var(--secondary-color);
    position: absolute;
    height: 100%;
    left: 110px;
}

.parts{
    padding: 50px 0;
}


.part{
    margin-bottom: 100px;
    display: flex;
}


.time{
    display: flex;
    align-items: center;
    height: 55px;
}

.timeEntry{
}

.timeLine{
    border-top: 2px solid var(--secondary-color);
    width: 120px;
    margin:0 10px;
}

.part .content{
}

.title{
    display: inline-block;
    background-color: var(--secondary-color-10);
    padding: 2px 15px;
    border-left: 4px solid var(--secondary-color);
    font-size: 1.5rem;
}

.body{
    padding: 10px 0;
}

