<div class="container">

  <header>
    <h1 routerLink="home">MH</h1>

    <nav>
      <ul>
        <li><a [routerLinkActive]="'active'" routerLink="home">Home</a></li>
        <li><a [routerLinkActive]="'active'"  routerLink="work">Work</a></li>
        <li><a [routerLinkActive]="'active'"  routerLink="blog">Blog</a></li>
        <li><a [routerLinkActive]="'active'"  routerLink="about">About</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
