
.section{
  .heading{
    border-bottom: 1px solid ;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
}

.info{
  .contact{
    display: flex;
    gap: .5rem;
    padding: .4rem 0;

    a{
      color: var(--on-surface);
    }
  }

  .content{
    display: flex;
    gap: 2rem;
  }
}


.experience, .education{
  .content{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5rem 2rem;

    h4{
      grid-column-start: 2;
    }
    p{
      grid-column-start: 2;
    }
  }
}

img{
  height: 200px;
  border-radius: .5rem;
}

@media screen and (max-width: 600px){
  .experience, .education {
    .content {
      grid-template-columns: 1fr;

      span{
        padding-top: 1rem;
      }

      h4{
        grid-column-start: 1;
      }
      p{
        grid-column-start: 1;
      }
    }
  }
}
