<div class="page-container">
  <div class="section info">
    <h1 class="heading">Biography</h1>
    <div class="content">
      <div>
        <p>
          I am a passionate software developer who thrives on tackling complex challenges and continuously learning new concepts.
          For me, software development isn't just a job—it's what I love to do most.
          I’m always eager to dive deep into the latest frameworks, understanding their internals, and pushing my skills to the next level.
          Routine and repetitive work don’t excite me; I’m driven by tasks that force me to think critically and innovate.
          I find joy in refactoring code and am almost religious about maintaining clean, readable, and efficient code.
          Whether it's mastering a new technology or optimizing a system, I'm always ready to take on the next challenge.
          From fullstack development to embedded systems and DevOps, my career has been defined by my desire to solve complex problems and continually improve my craft.
          I’m dedicated to creating software that is not only functional but also elegant and maintainable, and I’m always looking for opportunities that allow me to grow as a developer
        </p>
      </div>
    </div>
  </div>

  <div class="section experience">
    <h1 class="heading">Experience</h1>
    <div class="content">

      <span>Jan 2023 - Present</span>
      <h2>Software Engineer</h2>
      <h4>Primion Technology GmbH</h4>
      <p>
        After working on the PSIM platform, I transitioned to the hardware department at Primion to help develop our embedded software platform.
        In this role, I contributed to building a YAWL-based workflow management system for our devices.
        This shift allowed me to apply my software development skills to embedded systems, further broadening my expertise in integrating complex workflows into hardware solutions
      </p>

      <span>Jan 2022 - Jan 2023</span>
      <h2>Software Engineer</h2>
      <h4>Primion Technology GmbH</h4>
      <p>
        After completing my thesis, I joined Primion full-time and worked on their PSIM (Physical Security Information Management) platform.
        Initially, I focused on the mobile client, but soon transitioned to backend development, primarily using Spring.
        Later, I contributed to integrating OPC UA into our PSIM platform, enhancing its capabilities.
        Toward the end of my time there, I shifted into a DevOps role, where I modernized the build process for Java and .NET projects.
        I wrote custom Maven plugins and MSBuild tasks to automate common tasks, streamlining our development workflow
      </p>

      <span>Apr 2021 - Oct 2021</span>
      <h2>Thesis</h2>
      <h4>Primion Technology GmbH</h4>
      <p>
        For my thesis at Primion, I focused on interprocess communication for a new software platform that would run on access controllers, which manage access points.
        My research involved comparing different architectural patterns, including multi-threading, RPC, and MQTT, to identify the most suitable approach for the platform.
        I also explored the benefits of using Docker for embedded software, with our system running on Yocto Linux.
        This project deepened my understanding of system architecture and the unique challenges of developing software for embedded systems in access control environments.
      </p>

      <span>Nov 2020 - Apr 2021</span>
      <h2>Intern</h2>
      <h4>Primion Technology GmbH</h4>
      <p>
        During my Praxis semester, I interned as a Java Developer at Primion.
        My main responsibility was migrating the company's in-house bug tracker to Jira Cloud.
        To make this process efficient, I developed a Java tool that automatically transferred all our projects and users to Jira Cloud using their REST API.
        This experience gave me hands-on knowledge of software migration and improved my skills in Java and working with APIs.
      </p>


      <span>Jan 2024 -  Jun 2024</span>
      <h2>Fullstack Web Developer</h2>
      <h4>Vinnova</h4>
      <p>
        While studying, I worked part-time as a Fullstack Web Developer at Vennova.
        I helped build software that made tunnel inspections in Sweden more efficient by analyzing 3D models of tunnels to find cracks in the support structure.
        I worked on both the frontend and backend, using React and Node.js to create a user-friendly interface and ensure smooth performance.
        Although I didn’t work directly with the machine learning side of things, I collaborated with the team to make sure everything came together
      </p>
    </div>
  </div>


  <div class="section education">
    <h1 class="heading">Education</h1>
    <div class="content">

      <span>Mar 2018 - Oct 2021</span>
      <h2>B.Eng. Computer Engineering </h2>
      <h4>Albstadt-Sigmaringen University</h4>


      <span>Sep 2012 - May 2015</span>
      <h2>High School</h2>
      <h4>Tafas, Syria</h4>
    </div>
  </div>
</div>
