---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
const posts = await getCollection("posts");
---

<Layout>
    <ul>
        {
            posts.map((el) => (
                <li class="py-4">
                    <h1 class="text-primary text-4xl my-2">{el.data.title}</h1>
                    <p class="text-lg/8">{el.data.description}</p>
                    <a class="block text-primary text-lg mt-2" href={`/blog/${el.id}`}>Read more</a>
                </li>
            ))
        }
    </ul>
</Layout>