---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
const posts = await getCollection("posts");
---

<Layout>
    <ul>
        {
            posts.map((el) => (
                <li>
                    <h1>{el.data.title}</h1>
                    <span>{el.data.description}</span>
                    <a href={`/blog/${el.id}`}>Read more</a>
                </li>
            ))
        }
    </ul>
</Layout>

<style>
    ul {
        list-style: none;
        padding: 0;
        li {
            display: flex;
            flex-direction: column;
            padding-block: 1em;
            h1{
                color: var(--red);
                margin: 0;
                font-size: 2.5em;
            }
            span{
                font-size: 1.2em;
            }
            a{
                color: inherit;
                color: var(--red);
                text-decoration: none;
                font-size: 1.2em;
            }
        }
    }
</style>
