<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%  getBundle "html" "head" %}
    <title>Document</title>
</head>
<body>

<nav>
    <ul>
        {% for item in collections.all %}
        <li><a href="{{ item.url }}">{{ item.url }}</a></li>
        {% endfor %}
    </ul>
</nav>

{{ content }}

{%  getBundle "html" "script" %}
</body>
</html>