

.card{
  margin: 1rem;
  padding: 1rem;
  background-color: var(--surface-container-low);
  border-radius: .2rem;

  &:hover{
    background-color: var(--surface-container);
  }

  .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;

    span{
      padding: .4rem;
      border-radius: .2rem;
    }

    .in-progress{
      background-color: var(--success);
      color: var(--on-success);
    }

    .discontinued{
      background-color: var(--error);
      color: var(--on-error);
    }
  }
}
