
<div class="work">

  <div class="card">
    <div class="heading">
      <h1>Fruitela</h1>
      <span class="in-progress">In Progress</span>
    </div>
    <h3>Ecommerce Platform</h3>
    <p>
      The project is an innovative eCommerce platform designed to redefine the future of online shopping.
      It envisions a new way of connecting customers with products, moving beyond traditional eCommerce models.
      This platform incorporates cutting-edge technologies and forward-thinking design principles to create a seamless, intuitive shopping experience.
      By integrating advanced features and a user-friendly interface, the project aims to set a new standard in the eCommerce industry, pushing the boundaries of what online shopping can achieve</p>
  </div>


  <div class="card">
    <div class="heading">
      <h1>Jood</h1>
      <span class="in-progress">In Progress</span>
    </div>
    <h3>Mobile Credit Transfer</h3>
    <p>
      This project is an app that enables users to send mobile credits to others across different countries.
      The app simplifies the process of transferring mobile credit internationally, allowing users to support friends and family by topping up their mobile balances no matter where they are.
      With a user-friendly interface and secure transaction methods, the app makes it easy to send mobile credit across borders, bridging the gap between users in different locations.
  </div>


  <div class="card">
    <div class="heading">
      <h1>IFA</h1>
      <span class="in-progress">In Progress</span>
    </div>
    <h3>Intelligent Fashion Assistant</h3>
    <p>
      This project is an Intelligent Fashion Assistant app that leverages machine learning to help users choose outfits tailored to their unique attributes.
      The app analyzes factors such as body shape, weight, skin color, gender, and other personal properties to provide personalized clothing recommendations.
      By using advanced algorithms, the app ensures that users can find the most flattering and suitable outfits, making fashion choices easier and more intuitive.
      This innovative approach to fashion combines technology with style, offering a personalized shopping experience for every user.
  </div>
</div>
