<div class="container">
  @if(showDrawer){
    <div @backdropAnimation class="backdrop" (click)="showDrawer = false"></div>
    <section @drawerAnimation class="drawer">
      <h1>YU</h1>
      <ul (click)="showDrawer = false">
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="work">Work</a></li>
<!--        <li><a routerLink="blog">Blog</a></li>-->
        <li><a routerLink="about">About</a></li>
      </ul>
    </section>
  }

  <header>
    <button (click)="showDrawer = true">
      <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m22 16.75c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75z" fill-rule="nonzero"/></svg>
    </button>
    <h1>YU</h1>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
