<mat-drawer-container class="container" [hasBackdrop]="true">
  <mat-drawer class="drawer" mode="over" [opened]="drawerState" (click)="drawerState = false">
    <nav>
      <h3>Moamen Hredeen</h3>
      <ul>
        <li><a [routerLinkActive]="'active'" routerLink="home">Home</a></li>
        <li><a [routerLinkActive]="'active'"  routerLink="work">Work</a></li>
        <li><a [routerLinkActive]="'active'"  routerLink="blog">Blog</a></li>
        <li><a [routerLinkActive]="'active'"  routerLink="about">About</a></li>
      </ul>
    </nav>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <mat-toolbar class="toolbar">
      <button mat-icon-button
              (click)="drawerState = !drawerState"
              class="example-icon"
              aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>MH</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
