---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <h1>Who am I ?</h1>

    <p>
        Let me introduce myself. I’m an enthusiastic software developer,
        currently living and working in Germany. I have a deep love for
        tinkering with weird software ideas and diving headfirst into
        challenging technical problems—there’s something exciting about breaking
        things just to figure out how they work. I was born in 1997 in Tafas, a
        small town in southern Syria. In 2015, when the war broke out, I left my
        home and moved to Germany as a refugee. Starting over wasn’t easy, but I
        took it step by step—learning the language, adapting to a new culture,
        and eventually studying computer science. That journey led me to where I
        am today, doing what I love and continuously pushing myself to learn and
        grow. You can find me at
        <a href="https://github.com/moamenhredeen">Github</a>
        and
        <a href="https://linkedin.com/in/moamen-hraden">LinkedIn</a>
    </p>
</Layout>

<style>
    h1 {
        margin: 0;
        font-size: 4em;
        color: var(--red);
    }

    p {
        font-size: 1.5em;
        line-height: 1.8;
    }
    
    a{
        color: var(--red);
        text-decoration: none;
    }
</style>
