---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <h1 class="text-primary text-6xl mt-4 mb-8 font-bold">Hello</h1>
    <p class="text-2xl/10 font-light">
        Not sure how you ended up here, but hey, since you’re already around, why not take a look?
        Curious about who I am? You can learn more about me
        <a class="text-primary" href="/about">here</a>
        or read my
        <a class="text-primary" href="/resume">resume</a>.
        If you’re in the mood to read, check out some of my blog posts
        <a class="text-primary" href="/blog">here</a>!
    </p>
</Layout>
