---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <h1>Hello</h1>
    <p>
        Not sure how you ended up here, but hey, since you’re already around, why not take a look?
        
        Curious about who I am? You can learn more about me <a href="/about">here</a>
        or read my <a href="/resume">resume</a>.
        If you’re in the mood to read, check out some of my blog posts <a href="/blog">here</a>!
    </p>
</Layout>


<style>

h1{
    margin: 0;
    font-size: 4em;
    color: var(--red);
}

p{
    font-size: 1.5em;
    line-height: 1.8;
}

a{
    color: var(--red);
    text-decoration: none;
}
</style>
