
.navContainer{
    position: fixed;
    left: 35%;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 100;
}

.navItems{
    display: flex;
    list-style: none;
    padding: 10px;
}

.navItem{
    display: block;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
}

.navItem:hover{
    background: var(--secondary-color-10);
    transition: .2s;
    color: var(--secondary-color);
}


.active{
    background: var(--secondary-color);
    color: white;
}