.container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
}

.container:hover{
    transform: scale(1.02);
    transition: 0.2s;
}

.image img{
    display: block;
    width: 100%;
    /*border-radius: 25px 0 0 25px;*/
}

.content{
    background-color:var(--primary-color-50);
}

.title{
    padding: 10px 25px;
}

.title h2{
    color: var(--secondary-color);
    font-weight: bold;
}

.body{
    padding:10px 25px;
}
