
.blog {

  input {
    border: none;
    outline: none;
    background: var(--surface-container);
    padding: 1.2rem;
    width: 100%;
    font-size: 1rem;
    border-radius: .2rem;
    margin: 2rem 0;
  }

  h2{
    font-weight: normal;
  }


  ul {
    list-style: none;

    li {
      padding: 2rem;
      border-bottom: 1px solid var(--on-surface);
      cursor: pointer;

      div{
        display: flex;
        justify-content: space-between;
      }

      p {
        color: var(--on-surface-variant);
      }

      &:hover {
        background: var(--surface-container-low)
      }
    }
  }

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--on-surface-variant);

    h1 {
      padding: 4rem 0;
      font-weight: normal;
    }
  }
}


@media screen and (max-width: 1000px) {
  .blog{
    width: 75%;
  }
}


@media screen and (max-width: 800px) {
  .blog{
    width: 90%;
  }
}
