

<div class="blog page-container">
  <input type="text" [formControl]="searchKeyword" placeholder="Search for blog post">

  <!--  TODO: actions-->

  @if(filteredPosts.length > 0){
    <ul>
      @for (post of filteredPosts; track post.id){
        <li [routerLink]="post.id">
          <div>
            <small>{{post.date}}</small>
            <p>{{post.status | uppercase}}</p>
          </div>
          <h2>{{post.title}}</h2>
          <p>{{post.description}}</p>
        </li>
      }
    </ul>
  } @else {
    <div class="empty">
      <h1>no posts were found</h1>
    </div>
  }

</div>
