
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* colors */
    --primary-color: #F3EFCC;
    --secondary-color:#32502E;
    --secondary-color-10: rgba(50, 80, 46, 0.2);
    --secondary-color-50: rgba(50, 80, 46, 0.5);
    --light-grey:#F5F5F5;
    font-family: Monda;
}

/* TODO : load font with npm  */
@font-face{
    font-family: 'Monda';
    src: local('Monda'), url(./fonts/Monda/Monda-Regular.ttf) format('opentype');
}

/*@font-face{*/
/*    font-family: 'Monda';*/
/*    src: local('Monda'), url(./fonts/Monda/Monda-Bold.ttf) format('opentype');*/
/*}*/

