


/* -------------------------- style tokens -------------------------- */
:root {
  --primary: #43766C;
  --on-primary: #F8FAE5;
  --primary-container: #ffffff;
  --on-primary-container: #ffffff;

  --secondary: #000000;
  --on-secondary: #ffffff;
  --secondary-container: #ffffff;
  --on-secondary-container: #ffffff;

  --tertiary: #000000;
  --on-tertiary: #ffffff;
  --tertiary-container: #ffffff;
  --on-tertiary-container: #ffffff;

  --error: #FFB996;
  --on-error: #D37676;
  --error-container: #ffffff;
  --on-error-container: #ffffff;

  --success: #D9EDBF;
  --on-success: #43766C;
  --success-container: #ffffff;
  --on-success-container: #ffffff;

  --warning: #FFCF81;
  --on-warning: #EBC49F;
  --warning-container: #ffffff;
  --on-warning-container: #ffffff;

  --surface-dim: #ede8de;
  --surface: #f9f6f1;
  --surface-bright: #ffffff;
  --on-surface: #211e1c;
  --on-surface-variant: #453e3b;

  --surface-container-lowest: #ffffff;
  --surface-container-low: #f3efe7;
  --surface-container: #ede8de;
  --surface-container-high: #ffffff;
  --surface-container-highest: #ffffff;

  --outline: #ffffff;
  --outline-variant: #000000;


  --background-color-primary: rgb(249 246 241 / 1);
  --background-color-secondary: rgb(237 232 222 / 1);
}


/* -------------------------- fonts -------------------------- */

@font-face {
  font-family: remarkable;
  src: url("assets/fonts/reMarkableSans-Variable_V1.2.woff2") format("woff2");
}


@font-face {
  font-family: computer-modern;
  src: url("assets/fonts/cmunss.ttf") format("truetype");
}


@font-face {
  font-family: cascadia;
  src: url("assets/fonts/CaskaydiaCoveNerdFont-Regular.ttf") format("truetype");
}

@font-face {
  font-family: cascadia;
  src: url("assets/fonts/CaskaydiaCoveNerdFont-Bold.ttf") format("truetype");
}

@font-face {
  font-family: cascadia;
  src: url("assets/fonts/CaskaydiaCoveNerdFont-Italic.ttf") format("truetype");
}

/* -------------------------- global styles -------------------------- */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html, body{
  height: 100%;
  background-color: var(--surface);
  color: var(--on-surface);
  font-family: computer-modern, sans-serif;
  box-sizing: border-box;
}


/* -------------------- blog posts styles -------------------------*/
.blog-post-content {

  color: var(--on-surface);

  /*.markdown-clipboard-button{*/
  /*  background: red;*/
  /*}*/

  line-height: 1.5rem;

  h1, h2, h3, h4, h5, h6 {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  p{
    font-size: 1.1rem;
  }

  language-javascript {
    background-color: red;
  }

  .markdown-clipboard-button{
    background-color: var(--primary);
    color: var(--on-primary);
    border: none;
    outline: none;
    padding: .4rem .6rem;
    cursor: pointer;
    border-radius: .2rem;
    transition: .2s;

    &.copied{
      background-color: var(--success);
      color: var(--on-success);
    }
  }

  table{
    margin: auto;
    border-collapse: collapse;
    th{
      border-bottom: 1px solid var(--on-surface);
      font-weight: normal;
      padding: .4rem 2rem;
    }

    tr:hover{
      background-color: var(--surface-container);
    }

    td{
      padding: .4rem 2rem;
    }
  }

  .code-snippet-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 16px;
    font-family: cascadia, sans-serif;
    padding: 1rem;
    border-radius: .2rem;
    background-color: var(--surface-container);

    .copy-code-snippet{
      outline: none;
      padding: .2rem .4rem;
      border: none;
      background-color: var(--warning);
      color: var(--on-surface);
      border-radius: .2rem;
      cursor: pointer;
      transition: .2s;
    }
  }
}


/* -------------------- shared -------------------------*/
.page-container{
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 1000px){
  .page-container{
    width: 75%;
  }
}

@media screen and (max-width: 800px){
  .page-container{
    width: 95%;
  }
}
