<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style>
    @font-face {
        font-family: ComputerModern;
        font-style: bold;
        src: url("/public/fonts/cmunssdc.ttf");
    }

    @font-face {
        font-family: ComputerModern;
        font-style: normal;
        src: url("/public/fonts/cmunss.ttf");
    }
    
    @view-transition {
        navigation: auto;
        types: slide;
    }
    
    :root{
        --red: #AF3E3E;
    }

    body {
        box-sizing: border-box;
        padding: 4em 8em;
        max-width: 1000px;
        line-height: 1.8;
        font-family: ComputerModern, sans-serif;
    }
</style>
