---
import type { MarkdownLayoutProps } from "astro";
import Layout from "./Layout.astro";
type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
  tags: string[];
}>
const { frontmatter } = Astro.props;
---

<Layout>
    <div>
        <header class="py-2 mb-4 border-b-2 border-dashed border-zinc-200">
            <h1 class="text-primary text-6xl mb-8">{frontmatter.title}</h1>
            <p class="text-lg italic">Summary: {frontmatter.description}</p>
            <ul class="flex gap-2 my-2">
                <li>Tags:</li>
                {frontmatter.tags.map(el => <li>
                    <a class="text-primary text-lg" href={el}>{el},</a>
                </li>)}
            </ul>
        </header>
        <main>
            <slot/>
        </main>
    </div>
</Layout>

<style>
    main{
        h1{font-size: 2em;  margin-block: .67em; font-weight: bold}
        h2{font-size: 1.5em; margin-block: .83em; font-weight: bold}
        h3{font-size: 1.17em; margin-block: 1em; font-weight: bold}
        h4{font-size: 1.3em; margin-block: 1em}
        h5{font-size: 1.2em;margin-block: 1em}
        h6{font-size: 1em; margin-block: 1em}
        p {font-size: 1.2em; line-height: 1.8;}
        ul{list-style: disc; padding-left: 1.5em; margin-block: 8px}
        a{ color: var(--color-primary); cursor: pointer}
        :not(pre) code{
            background: oklch(97% 0.001 106.424);
            padding: 2px;
            border-radius: 2px;
            color: var(--color-primary);
            font-size: 14px;
        }
        blockquote{
            background: var(--color-light);
            margin-block: 1em;
            padding: 1em;
        }
        pre:has(code) {
            margin-block: 1em;
        }
        table{
            margin-block: 2em;
            width: 100%;
            text-align: center;
            thead {
                border-bottom: 1px solid var(--color-light);
            }

            tr:nth-child(even){
                background: var(--color-light);
            }
        }
        .markdown-alert{
            background: var(--color-light);
            padding: .5em 1em;
            margin-block: 1em;
            border-inline-start: 4px solid;
            .markdown-alert-title{
                font-weight: bold;
            }
        }

        .markdown-alert-note{
            border-color: var(--color-note);
            .markdown-alert-title{
                color: var(--color-note);
            }
        }

        .markdown-alert-caution{
            border-color: var(--color-caution);
            .markdown-alert-title{
                color: var(--color-caution);
            }
        }

        .markdown-alert-warning{
            border-color: var(--color-warning);
            .markdown-alert-title{
                color: var(--color-warning);
            }
        }

        .markdown-alert-important{
            border-color: var(--color-important);
            .markdown-alert-title{
                color: var(--color-important);
            }
        }

        .markdown-alert-tip{
            border-color: var(--color-tip);
            .markdown-alert-title{
                color: var(--color-tip);
            }
        }
    }
</style>