:root-medium-contrast {
  --primary: rgb(205 221 255);
  --surface-tint: rgb(170 199 255);
  --on-primary: rgb(0 37 81);
  --primary-container: rgb(116 145 199);
  --on-primary-container: rgb(0 0 0);
  --secondary: rgb(212 220 242);
  --on-secondary: rgb(29 38 54);
  --secondary-container: rgb(136 145 165);
  --on-secondary-container: rgb(0 0 0);
  --tertiary: rgb(243 210 247);
  --on-tertiary: rgb(51 29 57);
  --tertiary-container: rgb(164 135 169);
  --on-tertiary-container: rgb(0 0 0);
  --error: rgb(255 210 204);
  --on-error: rgb(84 0 3);
  --error-container: rgb(255 84 73);
  --on-error-container: rgb(0 0 0);
  --background: rgb(17 19 24);
  --on-background: rgb(226 226 233);
  --surface: rgb(17 19 24);
  --on-surface: rgb(255 255 255);
  --surface-variant: rgb(68 71 78);
  --on-surface-variant: rgb(218 220 230);
  --outline: rgb(175 178 187);
  --outline-variant: rgb(142 144 153);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(226 226 233);
  --inverse-on-surface: rgb(40 42 47);
  --inverse-primary: rgb(41 72 120);
  --primary-fixed: rgb(214 227 255);
  --on-primary-fixed: rgb(0 17 43);
  --primary-fixed-dim: rgb(170 199 255);
  --on-primary-fixed-variant: rgb(19 54 101);
  --secondary-fixed: rgb(218 226 249);
  --on-secondary-fixed: rgb(8 17 33);
  --secondary-fixed-dim: rgb(190 198 220);
  --on-secondary-fixed-variant: rgb(46 54 71);
  --tertiary-fixed: rgb(250 216 253);
  --on-tertiary-fixed: rgb(29 8 35);
  --tertiary-fixed-dim: rgb(221 188 224);
  --on-tertiary-fixed-variant: rgb(69 46 74);
  --surface-dim: rgb(17 19 24);
  --surface-bright: rgb(67 68 74);
  --surface-container-lowest: rgb(6 7 12);
  --surface-container-low: rgb(27 30 34);
  --surface-container: rgb(38 40 45);
  --surface-container-high: rgb(49 50 56);
  --surface-container-highest: rgb(60 62 67);
}
