:root-high-contrast {
  --primary: rgb(235 240 255);
  --surface-tint: rgb(170 199 255);
  --on-primary: rgb(0 0 0);
  --primary-container: rgb(166 195 252);
  --on-primary-container: rgb(0 11 32);
  --secondary: rgb(235 240 255);
  --on-secondary: rgb(0 0 0);
  --secondary-container: rgb(186 195 216);
  --on-secondary-container: rgb(3 11 26);
  --tertiary: rgb(255 233 255);
  --on-tertiary: rgb(0 0 0);
  --tertiary-container: rgb(216 184 220);
  --on-tertiary-container: rgb(22 4 29);
  --error: rgb(255 236 233);
  --on-error: rgb(0 0 0);
  --error-container: rgb(255 174 164);
  --on-error-container: rgb(34 0 1);
  --background: rgb(17 19 24);
  --on-background: rgb(226 226 233);
  --surface: rgb(17 19 24);
  --on-surface: rgb(255 255 255);
  --surface-variant: rgb(68 71 78);
  --on-surface-variant: rgb(255 255 255);
  --outline: rgb(238 239 249);
  --outline-variant: rgb(192 194 204);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(226 226 233);
  --inverse-on-surface: rgb(0 0 0);
  --inverse-primary: rgb(41 72 120);
  --primary-fixed: rgb(214 227 255);
  --on-primary-fixed: rgb(0 0 0);
  --primary-fixed-dim: rgb(170 199 255);
  --on-primary-fixed-variant: rgb(0 17 43);
  --secondary-fixed: rgb(218 226 249);
  --on-secondary-fixed: rgb(0 0 0);
  --secondary-fixed-dim: rgb(190 198 220);
  --on-secondary-fixed-variant: rgb(8 17 33);
  --tertiary-fixed: rgb(250 216 253);
  --on-tertiary-fixed: rgb(0 0 0);
  --tertiary-fixed-dim: rgb(221 188 224);
  --on-tertiary-fixed-variant: rgb(29 8 35);
  --surface-dim: rgb(17 19 24);
  --surface-bright: rgb(78 80 86);
  --surface-container-lowest: rgb(0 0 0);
  --surface-container-low: rgb(29 32 36);
  --surface-container: rgb(46 48 54);
  --surface-container-high: rgb(57 59 65);
  --surface-container-highest: rgb(69 71 76);
}
