:root-medium-contrast {
  --primary: rgb(19 54 101);
  --surface-tint: rgb(65 95 145);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(80 109 160);
  --on-primary-container: rgb(255 255 255);
  --secondary: rgb(46 54 71);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(100 109 128);
  --on-secondary-container: rgb(255 255 255);
  --tertiary: rgb(69 46 74);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(127 100 132);
  --on-tertiary-container: rgb(255 255 255);
  --error: rgb(116 0 6);
  --on-error: rgb(255 255 255);
  --error-container: rgb(207 44 39);
  --on-error-container: rgb(255 255 255);
  --background: rgb(249 249 255);
  --on-background: rgb(25 28 32);
  --surface: rgb(249 249 255);
  --on-surface: rgb(15 17 22);
  --surface-variant: rgb(224 226 236);
  --on-surface-variant: rgb(51 54 62);
  --outline: rgb(79 82 90);
  --outline-variant: rgb(106 109 117);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(46 48 54);
  --inverse-on-surface: rgb(240 240 247);
  --inverse-primary: rgb(170 199 255);
  --primary-fixed: rgb(80 109 160);
  --on-primary-fixed: rgb(255 255 255);
  --primary-fixed-dim: rgb(55 85 134);
  --on-primary-fixed-variant: rgb(255 255 255);
  --secondary-fixed: rgb(100 109 128);
  --on-secondary-fixed: rgb(255 255 255);
  --secondary-fixed-dim: rgb(76 85 103);
  --on-secondary-fixed-variant: rgb(255 255 255);
  --tertiary-fixed: rgb(127 100 132);
  --on-tertiary-fixed: rgb(255 255 255);
  --tertiary-fixed-dim: rgb(101 76 107);
  --on-tertiary-fixed-variant: rgb(255 255 255);
  --surface-dim: rgb(197 198 205);
  --surface-bright: rgb(249 249 255);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(243 243 250);
  --surface-container: rgb(231 232 238);
  --surface-container-high: rgb(220 220 227);
  --surface-container-highest: rgb(209 209 216);
}
