:root-high-contrast {
  --primary: rgb(218 251 176);
  --surface-tint: rgb(177 209 138);
  --on-primary: rgb(0 0 0);
  --primary-container: rgb(173 205 134);
  --on-primary-container: rgb(5 14 0);
  --secondary: rgb(233 244 213);
  --on-secondary: rgb(0 0 0);
  --secondary-container: rgb(188 199 169);
  --on-secondary-container: rgb(6 13 1);
  --tertiary: rgb(201 249 245);
  --on-tertiary: rgb(0 0 0);
  --tertiary-container: rgb(156 204 199);
  --on-tertiary-container: rgb(0 14 13);
  --error: rgb(255 236 233);
  --on-error: rgb(0 0 0);
  --error-container: rgb(255 174 164);
  --on-error-container: rgb(34 0 1);
  --background: rgb(18 20 14);
  --on-background: rgb(226 227 216);
  --surface: rgb(18 20 14);
  --on-surface: rgb(255 255 255);
  --surface-variant: rgb(68 72 61);
  --on-surface-variant: rgb(255 255 255);
  --outline: rgb(238 242 226);
  --outline-variant: rgb(193 196 182);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(226 227 216);
  --inverse-on-surface: rgb(0 0 0);
  --inverse-primary: rgb(54 79 23);
  --primary-fixed: rgb(205 237 163);
  --on-primary-fixed: rgb(0 0 0);
  --primary-fixed-dim: rgb(177 209 138);
  --on-primary-fixed-variant: rgb(8 20 0);
  --secondary-fixed: rgb(220 231 200);
  --on-secondary-fixed: rgb(0 0 0);
  --secondary-fixed-dim: rgb(191 203 173);
  --on-secondary-fixed-variant: rgb(11 20 3);
  --tertiary-fixed: rgb(188 236 231);
  --on-tertiary-fixed: rgb(0 0 0);
  --tertiary-fixed-dim: rgb(160 208 203);
  --on-tertiary-fixed-variant: rgb(0 20 19);
  --surface-dim: rgb(18 20 14);
  --surface-bright: rgb(79 81 73);
  --surface-container-lowest: rgb(0 0 0);
  --surface-container-low: rgb(30 32 26);
  --surface-container: rgb(47 49 42);
  --surface-container-high: rgb(58 60 53);
  --surface-container-highest: rgb(69 72 64);
}
